/* Move down content because we have a fixed navbar that is 50px tall */
$green: #24636c;
$light-green: #90b1b6;
$dark-green: #1A4045;
$white: #fff;
$gray: #3e4349;
$orange: #bb4700;
$font-stack: Arial, Helvetica, sans-serif;
$header-font: "Lato", Myriad, Arial, Helvetica;
$transition2: all .2s ease-out;




/*FONTS*/
@font-face {
	font-family: 'icomoon';
	src:url('.../fonts/icomoon.eot?-q4ouxz');
	src:url('../fonts/icomoon.eot?#iefix-q4ouxz') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-q4ouxz') format('woff'),
		url('../fonts/icomoon.ttf?-q4ouxz') format('truetype'),
		url('../fonts/icomoon.svg?-q4ouxz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e600";
}

.icon-facebook:before {
	content: "\e602";
}

.icon-googleplus:before {
	content: "\e603";
}

.icon-pinterest:before {
	content: "\e601";
}

.icon-linkedin:before {
	content: "\e604";
}


body {
  padding-top: 50px;
  font-size: 17px;
  font-family: $font-stack;
  transition: $transition2;
}

h1, h2, h3, h4, h5 {
	font-family: $header-font;
}


a {
	color: $green;
}

.btn-primary {
	background: $green;
	border-radius: 0;
	border: 0;
	font-family: $header-font;
	&:hover {
		background: $dark-green;
	}
}
.entry-title {
	margin-top: 20px;
}

.date {
	color: $orange;
	font-family: lato;
	font-style: italic;
	margin-bottom: -19px;
	display: block;
	font-size: .9em;}
	

/*Navbar*/

button.navbar-toggle {
    border:none
}

#navbar {
    border:none
}

form.navbar-form.navbar-right {
    border: none
}
.navbar-inverse .navbar-toggle ,.navbar-inverse .navbar-toggle:hover {
    border: none;
    background: none;
}
.navbar-inverse {
	background: $green;
	font-family: $header-font;
	border-bottom: 2px solid $white;
	.navbar-brand {
		text-indent: -99999px;
		background: url(../images/logo.png) no-repeat;
		background-size: cover;
		width: 43px;
		height: 43px;
		margin: 5px 8px;  }
	.navbar-nav>li>a {
		color: $white; }
}

.navbar-nav {
	font-size: 1.01em;
}

/*Search box*/
.form-control{	
	border-radius: 0;
	border: 0; 
	font-size:1.05em;
	&::-webkit-input-placeholder {
	   color: $green;
	   font-style: italic;
	   font-weight: 400
	}	
	&:-moz-placeholder { /* Firefox 18- */
	   color: $green;
	   font-style: italic;
	   font-weight: 400
	}	
	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $green;
	   font-style: italic;
	   font-weight: 400
	}	
	&:-ms-input-placeholder {  
	   color: $green;
	   font-style: italic;
	   font-weight: 400
	}
}
.navbar-form {
	margin-top: 24px;
	.btn.btn-default{
		padding: 0px 12px;
		font-size: 24px;
		border-radius: 0;
		border: 0;
		color: $light-green;
		&:hover {
			color: $green;
			background: $white;	
	}
}
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group { 
	border-radius: 0; 
	}	

}
 /*Carousel*/
.carousel-inner .item-background{
	   background:url(../images/slide-1-small.jpg);
   		height: 300px; 
   		background-size: cover !important;}
.carousel-caption{
	right: 10%;
	left: 10%;
	top:10px;
	text-shadow: none;
 h1 {
	font: 900 29px/120% $header-font;
	color: $gray;
	}
}

.content {
	padding-top: 20px;
	.h2, h2 {
		font-size: 22px;
		font-style: italic;
		color: $green;}
	
}

#location {
	margin-top:28px;
	h2 {
		font-weight: 700;
		font-style: normal;
		margin-top: 0;
	}
	h3 {
		color: $orange;
		font-size: 1.24em;
		font-weight: 900;
	span{
		font-weight: normal;
		opacity: .7;
	}
	}
}
/*google map*/
#map-canvas {
	width: 100%;
	height: 300px;
	border-radius: 10px;
}

footer {
	margin-top: 50px;
	font-family: $header-font;
	background: $green;
	color: $white;
	font-size: .9em;
		font-weight: 300;
		
	a {color: $white;
		&:hover{
			color: $white;}
		
	}
	h2 {
		color:$white;		
		font-size: 1.4em;
		font-weight: 500;
		text-shadow: 0px 1px rgba(0,0,0,.9);
		}
}	

#navigate li {
	  a {		
		opacity: .8;
		}
		&:hover{
			color: $white;
			opacity:1;
		}
	}
#socialize p { 
	font-style: italic;
	color: #CAD3D5; 		
	span {
		text-shadow: 0px 1px rgba(0,0,0,.9);
		display: block;
		margin-bottom: .6em;
		font-style: normal;
		color: $white;
		font-size: 1.05em;
		}
     }
.social-icons {
		padding: 0;
		li {
			display: inline-block;
			list-style: none;			
			a{ 
				text-decoration: none;
				background: rgba(255, 255, 255, 0.1);
				padding: 8px;
				min-width: 40px;
				display: block;
				text-align: center;
				margin-right: 4px;
				font-size: 1.55em;	
				&:hover{
					color: $white;
					background: rgba(255, 255, 255, 0.2);
					}
				}		
			}
		}		
#interact {
	span {
		font-size: 1.05em;
		text-shadow: 0px 1px rgba(0,0,0,.9);}
		form input, form textarea{ 
			opacity: .6;
			font-weight: 600;
			font-family:  $header-font;
	&:focus{
		opacity: 1;
	}}
	
	.row { margin-bottom: 1em;
			margin-right: 0 }
	.col-xs-6, .col-md-12 { padding-right: 3px}
	input[type="submit"] {
		background: none;
		border: none;
		text-decoration: underline;
		float: right;
		font-weight: 300;
	}
}



/*
 * 
 * MEDIA QUERIES
 * 
 * 
 * */

@media (min-width: 768px) {
	#search{
		width: 160px;
	}
	.content {
		.h2, h2 {
		font-size: 36px;
	}
	.date { font-size: 1em; }
	}

	.navbar-nav {
	font-size: 1.01em;
	li:hover{
		&:after, 
		&:before {
			bottom: 0%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none; 
		}
		&:after {
			border-bottom-color: #fff;
			border-width: 7px;
			margin-left: -7px;
		    z-index: 1; 
		}
	    &:before {
			border-width: 9px;
			margin-left: -9px;
		    z-index: 1;
		}
	}
}
	.navbar-nav{
		margin-left: 10px;
		>li>a {
		padding: 34px 10px;
		}
	}
	.navbar-inverse .navbar-brand{
		width: 74px;
		height: 74px;
		margin: 5px 0px;}
	.carousel-inner .item-background{
		background:url(../images/slide-1.jpg) 0;
   		height: 460px; }	
	.carousel-caption {
		top: 40px;
		right: 5%;
		left: 5%;
		h1 {
			font-size: 48px;
		}
		.btn-primary {
			background: none;
			color: $green;
			box-shadow: none;
			text-decoration:underline;
			font-size: 1.1em;
		}	
	}	
				
}
@media (min-width: 992px) {

	.navbar-nav{
		margin-left: 20px;	
		>li>a {
		padding: 34px 30px;
		}
	}
	.carousel-caption {
		top: 60px;
		h1 {
			font-size: 52px;
		}
	}
	
}

@media (min-width: 1200px) {
	#search{
		width: 200px;
	}
	.navbar-nav{
		margin-left: 40px;	
		>li>a {
		padding: 34px 40px;
		}
	}
	.carousel-inner .item-background{
   		height: 600px; 
   		background-size: cover !important;}
   	.carousel-caption {
   		width: 1170px;
   		top: 76px;
   		text-align: right;
   		margin: 0 auto;
		
   	}
	
}
